---
- name: Install Fail2ban
  ansible.builtin.package:
    name: fail2ban
    state: present

- name: Configure Fail2ban jail for SSH
  ansible.builtin.template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    owner: root
    group: root
    mode: "0644"
  notify: Restart fail2ban

- name: Ensure Fail2ban service is enabled and running
  ansible.builtin.service:
    name: fail2ban
    enabled: true
    state: started
